
<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlink}}
</head>

<body>
    {{>navbar}}


    <!----main header --->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!---leftside div-->

                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                          <img src = "image/404 error.jpg" alt="juned" class="img-fluid" title="about me">
                        </figure>
                      </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1> I Am a Mern Stack Developer, <span class="text_clr"> Programmer </span> And a Freelancer</h1>
                        <a href="/weather"><button> About </button></a>
                    </div>
                    <!---rightside div-->
                    

                </div>
            </div>
        </div>

        <!---footer code-->

      {{>footer}}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</body>

</html>